<h1><%= ApplicationConfig.poll_title %></h1>

<p class="emph"> <%= ApplicationConfig.poll_description %> </p>

<%= render :partial => 'application/instructions', :locals => {:active_point => 1} %>

<%= error_messages_for :user %>
<% form_for @user do |f| -%>
  	<%= f.label :email %>: <%= f.text_field :email %> <br/>
	<%= f.submit 'Continua' %>
<% end -%>