<h1>Sondaggio sullo Statuto di Ateneo</h1>

<%= render :partial => 'application/instructions', :locals => { :active_point => 3} %>

<div class="question_text">
	<%= @question.text %>
</div>

<% form_tag({:controller => 'answers', :action => "create"}) do %>
	<%= hidden_field :answer, :id %>
	<%= hidden_field :activation_code, :code %>
	
	<%  @question.alternatives.each_with_index do |alternative, index| 
		@alternative = alternative %>
		
	<%= check_box_tag("selected_alternatives[#{@alternative.id}]") %> <%=  @alternative.text %><br/>
	<% end %>
	
	<%= submit_tag 'Confermo' %>
<% end %>
